.DS_Store
*.swp
*.lock
profile
DerivedData/
build/
surfgen.xcodeproj/project.xcworkspace/xcuserdata/
surfgen.xcodeproj/xcuserdata/
*.xcuserstate
test/test
test/TESTING/*
test/test.log
test/surfgen.out
test/surfgen.log
utilities/*/test
utilities/*/*.x
bin/setsgenvars.*
source/*.o
source/*.mod
